# .gitignore
__pycache__
*.jpg
*.png
*.pyc
print_quote.pyc
*.tar.gz
printquote-log.txt
jj-log.txt
printed.txt
chat-quotes.txt
config.py
config.pyc
id.txt
pull-github.sh
build/
dist/
sickbotsocial.egg-info/